FusionForever.ncb
FusionForever_bin/Debug/
FusionForever_bin/Release/
FusionForever_lib/Debug/
FusionForever_lib/Release/
FusionForever_bin/FusionForever_bin.vcproj.*.*.user
FusionForever_lib/FusionForever_lib.vcproj.*.*.user
Tests/Debug/
Tests/Release/
debug/*.lua
debug/*.ilk
debug/*.exe
debug/*.bat
debug/*.pdb
debug/scripts/
debug/sounds/
debug/textures/
debug/CEGUI.log
debug/ErrorLog.txt
debug/ProgressRecord.xml
debug/Settings.xml

release/*.lua
release/*.exe
release/*.bat
release/*.pdb
release/scripts/
release/sounds/
release/textures/
release/CEGUI.log
release/ErrorLog.txt
release/ProgressRecord.xml
release/Settings.xml


FusionForever.suo
Tests/Tests.vcproj.*.*.user

