// Hand editted resource script so that game compiles on express editions of visual studio
//
#include "resource.h"
IDI_ICON1               ICON                    "textures\\icon1.ico"
IDI_ICON2               ICON                    "textures\\icon2.ico"
IDI_ICON3               ICON                    "textures\\icon3.ico"
